#container {
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin-top: 30px;
}

#container .content {
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: red;
    background-color: #ddd;
    border-radius: 15px;
    opacity: 0.65;
    transition: all 0.6s;
    margin: 10px auto;
}

#container .content:hover {
    opacity: 1;
}

#container .content img {
    width: 50%;
    border: 5px solid #666;
}

button {
    border-radius: 10px;
    border: none;
    background-color: rgb(71, 71, 245);
    color: #fff;
    font-size: 2rem;
    padding: 10px;
    margin: 10px auto;
    cursor: pointer;
}

.buttoncont {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 10vh;
}

input {
    border-radius: 20px;
    padding: 10px;
    font-size: 1rem;
    width: 80%;
}



@media only screen and (max-width: 992px) {
    #container {
        display: grid;
        grid-template-columns: auto auto;
        margin-top: 30px;
    }
}

@media only screen and (max-width: 600px) {
    #container {
        display: grid;
        grid-template-columns: auto;
        margin-top: 30px;
    }
}